body {
    font-size: 40px;
}

.fas {
    transition: .2s;
}

.fa-broom {
    color: #bd10e0;
}

.fa-cat {
    color: #50e3c2;
}

.fa-spider {
    color: #4a4a4a;
}

.fa-ghost {
    color: #ffb6c1;
}

.fas:hover {
    opacity: 60%;
    font-size: 42px;
    display: inline-block;
}