body {
    font-size: 3em;
}

.fa-broom {
    color: #bd10e0;
}

.fa-cat {
    color: #50e3c2;
}

.fa-spider {
    color: #4a4a4a;
}

.fa-ghost {
    color: #ffb6c1;
}

.fas:hover {
    opacity: 70%;
    transition: .2s;
}